/aclocal.m4
/autom4te.cache/
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/test-driver
/config.log
/config.status
/configure
/Debug/
.deps/
/external/googletest/src/.dirstamp
*.la
.libs/
/libtool
*.lo
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
Makefile
Makefile.in
/networking/Autoconf.h
/networking/Autoconf.h.in*
/networking/networking.pc
/networking/stamp-h1
*.o
/Release/
/.settings/
/tests/gtest
/tests/gtest.log
/tests/gtest.trs
/tests/test-suite.log
